server:
  port: 8081
  error:
    whitelabel:
      enabled: false  # Desabilita a página de erro padrão do Spring Boot

spring:
  application:
    name: BibliotecaOnline

  datasource:
    url: jdbc:h2:file:./data/biblioteca
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      org.hibernate.envers.store_data_at_delete: true

  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: false

  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: 2465e3908097e0
    password: 3214fe54610110
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 60MB
      file-size-threshold: 2MB